# Dependencies
glow-ide/node_modules/
glow-language/node_modules/

# Build outputs (don't push .exe files to git)
glow-ide/dist-installer/
glow-language/dist/

# Misc
.DS_Store
Thumbs.db
*.log

glow-ide/.env
.env.env/local

COMMUNITY_LIBRARIES_PLAN.md
GLOW_RELEASE_GUIDE.md